<%- include ('partials/header') -%>
<section class="bg-gray-100">
    <div class="container mx-auto p-8 pt-40 ">
        <h1 class="text-3xl font-bold mb-8">Edit Job</h1>
        <form action="/edit-job/<%= job._id %>" method="POST" enctype="multipart/form-data">
            <div class="mb-4">
                <label class="block text-gray-700">Company Name</label>
                <input type="text" name="companyName" value="<%= job.companyName %>" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">About Company</label>
                <textarea name="aboutCompany" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"><%= job.aboutCompany %></textarea>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Company Location</label>
                <input type="text" name="companyLocation" value="<%= job.companyLocation %>" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Company Logo</label>
                <input type="file" name="companyLogo" value="<%= job.companyLogo %>" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Job Title</label>
                <input type="text" name="jobTitle" value="<%= job.jobTitle %>" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Job Description</label>
                <textarea name="jobDescription" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"><%= job.jobDescription %></textarea>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Job Requirement</label>
                <textarea name="jobRequirement" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"><%= job.jobRequirement %></textarea>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Job Category</label>
                <select name="jobCategory" id="jobCategory" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                    <option value="<%= job.jobCategory %>"><%= job.jobCategory %></option>
                    <option value="design">Design</option>
                    <option value="sales">Sales</option>
                    <option value="marketing">Marketing</option>
                    <option value="finance">Finance</option>
                    <option value="engineering">Engineering</option>
                    <option value="technology">Technology</option>
                    <option value="business">Business</option>
                    <option value="human resource">Human Resource</option>
                </select>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Job Type</label>
                <select name="jobType" id="jobType" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                    <option value="<%= job.jobType %>"><%= job.jobType %></option>
                    <option value="full time">Full time</option>
                    <option value="part time">Part time</option>
                    <option value="remote">Remote</option>
                    <option value="internship">Internship</option>
                    <option value="contract">Contract</option>
                </select>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Job Level</label>
                <select name="jobLevel" id="jobLevel" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
                    <option value="<%= job.jobLevel %>"><%= job.jobLevel %></option>
                    <option value="entry level">Entry Level</option>
                    <option value="mid level">Mid level</option>
                    <option value="senior level">Senior Level</option>
                    <option value="director">Director</option>
                    <option value="vp or above">VP or above</option>
                </select>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Salary (in $)</label>
                <input type="number" name="salary" value="<%= job.salary %>" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Vacancy</label>
                <input type="number" name="vacancy" value="<%= job.vacancy %>" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Apply Before</label>
                <input type="date" name="applyBefore" value="<%= job.applyBefore.toISOString().split('T')[0] %>" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500">
            </div>
            <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-md">Update Job</button>
        </form>
    </div>
    
</section>
